# =========================
# OS files
# =========================

# Windows
desktop.ini
Thumbs.db


# =========================
# Editor files
# =========================

# VSCode
.vscode/

# =========================
# Build / compiled files
# =========================

*.txt
*.exe
*.out
*.o
*.obj
*.class

# =========================
# Logs
# =========================

*.log

# =========================
# Temporary files
# =========================

*.tmp
*.temp